.grid-container {
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "header-area"
        "main-area"
        "footer-area";
}

.grid-header {
    grid-area: header-area;
    min-height: 4rem;
    max-height: 6rem;
}

.grid-main {
    grid-area: main-area;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "graph-area button-area"
        "table-area table-area";
}

.grid-footer {
    grid-area: footer-area;
    min-height: 4rem;
    max-height: 6rem;
}

.grid-graph {
    grid-area: graph-area;
    min-height: 10rem;
    max-height: 16rem;
}

.grid-table {
    grid-area: table-area;
    min-height: 10rem;
    max-height: 16rem;
}

.grid-button {
    grid-area: button-area;
    display: grid;
    grid-template-rows: auto;
    grid-template-areas:
        "winner-button"
        "winner-button"
        "winner-button"
        "winner-button"
        "winner-button"
        "loser-button"
        "loser-button"
        "loser-button"
        "loser-button"
        "loser-button";
}

.winner-button {
    grid-area: winner-button;
    height: 1rem;
}

.loser-button {
    grid-area: loser-button;
    height: 1rem;

}