p {
    font-family: "Titillium Web", serif;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    background-color: DodgerBlue;
    font-family: "Titillium Web", serif;
}

.flex-container > div {
    margin: 10px;
    text-align: center;
}

.headerFooter {
    width: 100%;
    line-height: 40px;
    background-color: #28292B;
    color: white;
}

.test2 {
    width: 100%;
    flex-flow: row wrap;
    background-color: white;
    justify-content: center;
    line-height: 20px;
}

.test3 {
    width: 48%;
}