@font-face {
font-family: DINCon-reg;
src: url(font/DINCond-Regular.ttf);
}

@font-face {
font-family: DINCon-bold;
src: url(font/DIN-Condensed-Bold.ttf);
}


/*common*/

html {
    height: 100%;
}

body {
    width: 100%;
    line-height: 24px;
    font-size: 14px;
    font-weight: normal;
    position: relative;
    background: linear-gradient(to right top, #232B80, #00123B);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background: -webkit-linear-gradient(to right top, #232B80, #00123B);
    background: -moz-linear-gradient(to right top, #232B80, #00123B);
    background: -ms-linear-gradient(to right top, #232B80, #00123B);
    background: -o-linear-gradient(to right top, #232B80, #00123B);
    z-index:-2;
}

.row {
    width: 100%;
}

/* buttons style */
button {
    outline: none !important;
}

#currentPageBtn:hover {
    background: #60EFFF;
    color: #0f1e55;
}

.btn-blue{
    display: inline-block;
    font-weight: 700;
    padding: 10px 50px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    border-radius: 3px;
    line-height: 23px;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    color: rgba(96, 239,255, 0.8);
    border: 1px solid rgba(96, 239,255, 0.8);
    background: #09203F;
}

.btn-blue:hover {
    color: #60EFFF;
    border-color: #60EFFF;
    cursor: pointer;
    text-decoration: none;
}

.btn-purple{
    display: inline-block;
    font-weight: 700;
    padding: 10px 50px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    border-radius: 3px;
    line-height: 23px;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    color: rgba(255, 0, 167, 0.8);
    background: #09203F;
    border: 1px solid rgba(255, 0, 167, 0.8);
}

.btn-purple:hover, .btn-purple:focus{
    background: #FF00A7;
    border-color: #FF00A7;
    cursor: pointer;
    text-decoration: none;
    color: #FFF;
}

.PredictionLogo {
    height: 55px;
    width: auto;
}

.btn-blue-2 {
    width: 65%;
    display: inline-block;
    font-weight: 700;
    padding: 10px 50px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    border-radius: 25px;
    line-height: 23px;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    background: rgba(96, 239, 255, 0.75);
    color: white;
    border-color: transparent;
}

a.btn-blue-2:hover {
    border-color: #60EFFF;
    background: rgba(96, 239, 255, 1);
    cursor: pointer;
    text-decoration: none;
}

.btn-purple-2 {
    width: 65%;
    display: inline-block;
    font-weight: 700;
    padding: 10px 50px;
    white-space: nowrap;
    vertical-align: middle;
    font-size: 1rem;
    border-radius: 25px;
    line-height: 23px;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    color: white;
    background: rgba(255, 0, 167, 0.75);
    border-color: transparent;
    margin-top: 20px;
}

a.btn-purple-2:hover {
    border-color: #FF00A7;
    background: rgba(255, 0, 167, 1);
    cursor: pointer;
    color: #fffc98;
    text-decoration: none;
}

@media(min-width:768px) {
    .navbar-custom {
        padding: 15px 0;
        border-bottom: 0;
        -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
        -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
        transition: background .5s ease-in-out,padding .5s ease-in-out;
    }

}

/* ----------index page starts here ----------*/
.mainBody {
    font-family: "D-DIN Condensed", serif;
    /*background-image: linear-gradient(45deg, #232B80, #00123B);*/
    color: white;
}

/* ----index header starts here ----*/
header {
    font-family: "D-DIN Condensed", serif;
}

.navbar-header {
    padding-top: 20px;
    vertical-align: center;
}

.my-auto-vert {
    margin-top: auto;
    margin-bottom: auto;
}

.current_date {
    margin-top: auto;
    margin-bottom: auto;
    margin-inline-start: auto;
}

#indexLogoAll {
    cursor: pointer;
}

h5.logoText {
    margin-left: 20px;
    font-size: 200%;
    color: white;
    vertical-align: bottom;
}

.indexLogo {
    cursor: pointer;
}

.indexLogo:hover h5.logoText {
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

/* ----index main starts here ----*/
.myMain {
    font-family: "D-DIN Condensed", serif;
    text-align: center;
    padding: 30px 0 40px 0;
}

.index-back {
    width: 120%;
    height: auto;
    margin-left: -200px;
}

.newH1 {
    font-size: 3.5rem;
}

.din {
    font-family: "D-DIN Condensed", serif;
}

.blueColor {
    color: #60EFFF;
}

.purpleColor {
    color: #FF00A7;
}

.toRight {
    text-align: right;
}

.intro {
    font-size: 1.1rem;
    padding: 20px 0;
}

.btns {
    text-align: right;
    padding: 40px 0 50px 0;
}

#currentDate {
    font-size: 1.3rem;
}

/* ----index developer starts here ----*/
.developer {
    font-family: "2D-DIN Condensed Bold", serif;
    text-align: center;
    margin-top: 50px;
}

.allDevelopers {
    padding: 70px 0 30px 0;
}

.developerIntro {
    opacity: 0.75;
    -webkit-transition: all .4s ease 0s;
    -o-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
}

.developerIntro:hover {
    opacity: 1;
    cursor: pointer;
}

.blueBorder {
    border: #60EFFF 5px solid;
}

.purpleBorder {
    border: #FF00A7 5px solid;
}

.roundImg {
    height: 150px;
    width: auto;
}

.developerName {
    padding: 20px 0;
}

#currTime {
    padding-top: 20px;
    text-align: center;
}


/* ----------current stock starts here ----------*/
.curr_btn {
    background: #203353;
    color: #60EFFF;
    border: #60EFFF 1px solid;
}

.predic_btn {
    background: #203353;
    color: #60EFFF;
    border: #60EFFF 1px solid;
}

#overlay img{
    z-index: -1;
    width: 1200px;
    height: auto;
    bottom: 10px;
    overflow: hidden;
    position:fixed;
    display: block;
    opacity: 0.3;
    background-repeat: repeat-y;
}

/* ----------prediction stock starts here ----------*/
#pre_btn {
    background: #203353;
    border: #FF00A7 1px solid;
}

.algorithmIntro {
    font-size: 1.15rem;
    text-align: justify;
}

.algorithmIntroTopic {
    font-size: 1.4rem;
    font-weight: bold;
}
#PredictionChart {
    padding-bottom: 40px;
}

/* ---- footer starts here ----*/
.myFooter {
    margin-top: 40px;;
    font-family: "D-DIN Condensed", serif;
    background: #09203F;
    text-align: center;
    font-size: small;
    padding: 5px 30px;
    position: relative;
    clear: both;
    color: white;
}

.tab_buttons {
    margin-top: auto;
    float: right;
    margin-right: 0px;
}
